---
layout: default
---

<section id='extra-info'>
  <h2>Extra Info</h2>
  <p><a href='/readme.txt'>README</a></p>
</section>

<section id='full-lps'>
  <h2>Full Let's Plays</h2> 
  {% for section in site.data.FullLPs.SectionItems.sections %}
  <section id='{{ section.year }}'>
    <h3>{{ section.year }} - {{ section.yearName }}</h3>
    <ul class='no-bullet'>
      {% for lpSeries in section.lpSeries %}
      <li><a href="superbestfriendsplay/FullLPs/{{ section.year }}/{{ lpSeries }}">{{ lpSeries }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</section>

<section id='one-offs'>
  <h2>One-Offs</h2>
  <ul class='no-bullet'>
    {% for sectionItem in site.data.OneOffs.SectionItems %}
    <li><a href="superbestfriendsplay/OneOffs/{{ sectionItem.directoryName }}">{{ sectionItem.directoryName }}</a></li>
    {% endfor %}
  </ul>
</section>

<section id='extras'>
  <h2>Extras</h2>
  <ul class='no-bullet'>
    {% for lpSeries in site.data.Extras.SectionItems.lpSeries %}
    <li><a href="superbestfriendsplay/Extras/{{ lpSeries }}">{{ lpSeries }}</a></li>
    {% endfor %}
  </ul>
</section>

<section id='mini-lps'>
  <h2>Mini LPs</h2>
  <ul class='no-bullet'>
    {% for lpSeries in site.data.MiniLPs.SectionItems.lpSeries %}
    <li><a href="superbestfriendsplay/MiniLPs/{{ lpSeries }}">{{ lpSeries }}</a></li>
    {% endfor %}
  </ul>
</section>

<section id='irl'>
  <h2>IRL</h2>
  <ul class='no-bullet'>
    {% for lpSeries in site.data.IRL.SectionItems.lpSeries %}
    <li><a href="superbestfriendsplay/IRL/{{ lpSeries }}">{{ lpSeries }}</a></li>
    {% endfor %}
  </ul>

</section>

<section id='themed-collections'>
  <h2>Themed Collections</h2>
  <ul class='no-bullet'>
    {% for lpSeries in site.data.ThemedCollections.SectionItems.lpSeries %}
    <li><a href="superbestfriendsplay/ThemedCollections/{{ lpSeries }}">{{ lpSeries }}</a></li>
    {% endfor %}
  </ul>
</section>

<section id='off-channel'>
  <h2>Off Channel</h2>
  <ul class='no-bullet'>
    {% for lpSeries in site.data.OffChannel.SectionItems.lpSeries %}
    <li><a href="superbestfriendsplay/OffChannel/{{ lpSeries }}">{{ lpSeries }}</a></li>
    {% endfor %}
  </ul>
</section>
