@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 10px;
}

p, li, td, th, ul {
    font-size: 14pt;
    font-family: Archivo;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Open-Sans;
}

.disclaimer {
	background-color: #f6f6f6;
	margin: 5px;
	padding: 5px;
}

ul.no-bullet {
	list-style-type: none;
}

/* From https://codepen.io/skylee91/pen/NppgEN*/
.navbar-toggle {
  float: left !important;
  margin-left: 15px;
}

.navbar-header.navbar-right.pull-right {
  margin-right: 15px;
}

.navbar-right > li {
  float: left;
}
