<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      {% include navigation.html %}
      <h1>Project Hypendium <small>A "Super Best Friends Play" Archive by TEAM SCRIBATSU</small></h1>
      <p class="disclaimer"><strong>DISCLAIMER:</strong> While we have attained permission from all four Best Friends Zaibatsu members for this project, this archive is not intended to be a replacement for the official <a href="https://www.youtube.com/channel/UC84X0epDRFdTrybxEX8ZWkA">YouTube</a>/<a href="https://vimeo.com/sbfp">Vimeo</a> channels, or the <a href="http://superbestfriendcast.libsyn.com/">Super Best Friendcast Libsyn</a>. <strong>When possible, please support the official releases.</strong></p>
    </header>
    <main>
    {{ content }}
    </main>
    <footer>
    </footer>
  </body>
</html>
