<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
    <!-- Bootstrap Stuff -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% seo %}
  </head>
  <body>
    <header>
      {% include navigation.html %}
      <h1>Project Hypendium <small>A "Super Best Friends Play" Archive by TEAM SCRIBATSU</small></h1>
      <p class="disclaimer"><strong>DISCLAIMER:</strong> While we have attained permission from all four Best Friends Zaibatsu members for this project, this archive is not intended to be a replacement for the official <a href="https://www.youtube.com/channel/UC84X0epDRFdTrybxEX8ZWkA">YouTube</a>/<a href="https://vimeo.com/sbfp">Vimeo</a> channels, or the <a href="http://superbestfriendcast.libsyn.com/">Super Best Friendcast Libsyn</a>. <strong>When possible, please support the official releases.</strong></p>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
    </footer>
  </body>
</html>
